$black:#1F2D3D;
$lblack:#324057;
$elblack:#475669;
$silver:#8492A6;
$lsilver:#99A9BF;
$elsilver:#C0CCDA;
$gray:#D3DCE6;
$lgray:#E5E9F2;
$elgray:#EFF2F7;
// gray
$c55:#555;
$c22:#222;
$c33:#333;
$c99:#999;
$c77:#777;
$c00:#000;
$cff:#fff;
$caa:#aaa;
$ccc:#ccc;
$cf0:#f0f0f0;
$cdd:#ddd;
$cee:#eee;
$ce3:#e3e3e3;
$cf9:#F9FAFC;
$cf7:#F7F7F7;
$cf4:#f4f4f4;
$cfa:#fafafa;
$cf60:#FF8225;
$c2a:#2a3542;
$c35:#35404d;
// colour
$red:#CA0814;
$sred:#90070F;
$orange:#FD7823;
$blue:#20A0FF;
$green:#13CE66;
$cyan:#36bc99;
$gold:#A49D86;
$pink:#F85D92;
$yellow:#F7BA2A;
