.header {
  height: 60px;background: $black;line-height: 60px;
  .logo {
    float: left;position: relative;padding-left: 50px;
    img {
      display: block;width: 40px;height: 40px;
      position: absolute;top: 10px;left: 0;
    }
    a {
      display: block;font-size: 24px;font-weight: normal;color: $cff;
    }
  }
  .nav {
    float: right;
    li {
      float: left;
      &:not(:last-child) a:after {
        content: '';display: block;position: absolute;
        width: 1px;height: 14px;right: -1px;top: 50%;margin-top: -7px;
        background: $lblack;
      }
      a {
        color: $cff;font-size: 15px;position: relative;
        display: block;padding: 0 15px;
        &:hover {
          background: $lblack;
          &:after {
            display: none;
          }
        }
      }
    }
  }
}
